body {

//background-image:url("hero-bg.jpg");
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(hero-bg.jpg);

} 



.menubar {
margin:0pt 0pt;
}


img
{
width:200pt;
height:80pt;
margin-left:-500pt;
cursor:pointer;
}

.navbar {
margin:50pt 550pt;
width:500pt;
height:30pt;
justify-content:space between;

} 


.navbar ul li
{

display:inline-block;
margin:10pt 20pt;
margin-top:-50pt;
margin-bottom:-100pt;
cursor:pointer;
position:relative;
text-transform:uppercase;
color:white;
font-family:monospace;
font-weight:bold;

} 

.navbar ul li a{
text-decoration:none;


}

.navbar ul li::after
{
content:'';
width:0pt;
height:2pt;
background:white;
position:absolute;
left:0;
bottom:-5pt;
transition:0.5s
}

.navbar ul li:hover::after
{
width:100%;
}

.text {
width:800pt;
height:100pt;
margin:200pt ;
}



h1 {
color:white;
font-family:monospace;
font-weight:bold;
font-size:30pt;
text-transform:uppercase;
}


h2 {
color:white;
font-family:monospace;
font-weight:bold;
font-size:10pt;
}


button {
  //background-color:purple; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:10pt;
  cursor:pointer;
  font-weight:bold;
  border-radius:15pt;
  position:relative;

}


button:hover{
background-color:beige;
}

.contactus {
border:3pt solid white;
margin-left:10pt;
margin-top:0pt;
margin-bottom:30pt;
width:1080pt;
height:250pt;
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(hero-bg.jpg);

} 
.aboutme {
border:3pt solid white;
margin-left:10pt;
margin-top:-300pt;
margin-bottom:30pt;
width:1080pt;
height:200pt;
background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(hero-bg.jpg);

} 


input { 
border:2pt solid purple;
width:200pt;
height:25pt;
} 


textarea {
border:2pt solid purple;
}


sandeepkumarreddy2002@gmail.com